<div class="card w-25" >
  <div class="card-body">
    <h3 class="card-title"><%= @friend.first_name + ' ' + @friend.last_name %></h3>
    <p class="card-text">Email: <%= @friend.email %></p>
    <p class="card-text">Phone: <%= @friend.phone %></p>
    <p class="card-text">Twitter: <%= @friend.twitter %></p>
    <div class="btn-group" role="group">
      <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary btn-sm mx-1" %> 
      <%= link_to "Back", friends_path, class:"btn btn-secondary btn-sm mx-1" %>
      <%= button_to 'Delete', @friend, method: :delete, class:"btn btn-outline-danger mx-1 btn-sm" %>
    </div>
  </div>
</div>
<br/>



