<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title"><%= @friend.first_name + ' ' + @friend.last_name %></h3>
    <p class="card-text">Email: <%= @friend.email %></p>
    <p class="card-text">Phone: <%= @friend.phone %></p>
    <p class="card-text">Twitter: <%= @friend.twitter %></p>
    <div>
      <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary btn-sm" %> 
      <%= link_to "Back to friends", friends_path, class:"btn btn-secondary btn-sm" %>

  </div>
  </div>
</div>
<br/>



